/Descargas
/Documentos
/Escritorio
/Imágenes
/Música
/Plantillas
/Público
/Vídeos
.cache/
polybar-themes/
Rational/
rofi/
.themes/
.ssh/
.wpa_cli_history
.vscode/
.local/
.mozilla/
.npm/
.dwarffortress
snap/
